<div class="flex flex-col md:flex-row items-center justify-center p-6 md:p-12 bg-white text-center md:text-left">
    <div class="md:w-1/2 md:pr-8">
        <h1 class="text-5xl mb-4 leading-tight">
            Navigazione sicura e privata<br> con VPN <strong>TechSolutions</strong>
        </h1>
        <p class="text-lg mb-8 leading-relaxed">
            Fornisci una rete per tutte le tue esigenze con facilità e divertimento usando Tech Solutions. Scopri le nostre interessanti funzionalità.
        </p>
        <a href="#" class="bg-red-500 text-white px-10 py-4 rounded-lg hover:bg-red-600 text-lg font-semibold">
            Preventivo
        </a>
    </div>
    <div class="md:w-1/2 mt-6 md:mt-0">
        <img src="/images/carousel1.png" alt="Descrizione immagine" class="w-full h-auto rounded-md">
    </div>
</div>
