<div class="flex flex-col md:flex-row items-center justify-center p-6 md:p-12 bg--100">
    <div class="md:w-1/2 p-4 flex justify-center">
        <img src="/images/features.png" alt="Illustrazione" class="w-3/4 md:w-3/5 lg:w-2/3 h-auto">
    </div>
    <div class="md:w-1/2 p-4 text-center md:text-left">
        <h2 class="text-3xl font-bold mb-4">Forniamo molte funzionalità che puoi utilizzare.</h2>
        <p class="text-lg mb-6">Puoi esplorare le funzionalità che offriamo con divertimento, ognuna con la propria funzione.</p>
        <ul class="list-disc list-inside ml-4">
            <li class="flex items-center mb-2">
                <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                <span class="text-gray-600">Potente protezione online.</span>
            </li>
            <li class="flex items-center mb-2">
                <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                <span class="text-gray-600">Internet senza confini.</span>
            </li>
            <li class="flex items-center mb-2">
                <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                <span class="text-gray-600">VPN Potenziata.</span>
            </li>
            <li class="flex items-center mb-2">
                <svg class="w-4 h-4 mr-2 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                <span class="text-gray-600">Nessun limite di tempo specifico.</span>
            </li>
        </ul>
    </div>
</div>
